.truth-dare-button {
    --padding-top: 0.88em !important;
    --padding-bottom: 0.8em !important;
    --padding-end: 1em !important;
    --padding-start: 1em !important;
    margin: 0 0.5em !important;
    text-transform: capitalize;
    font-size: 1.3em !important;
}

.skip-button {
    justify-content: flex-end;
    width: 100%;
}

.skip-button ion-button {
    text-transform: lowercase;
    font-size: 0.9em;
}

.chosen-text {
    font-size: 1.3em;
    color: white;
    padding: 0 40px;
    text-align: center;
}

.result-modal {
    --height: fit-content;
    --width: fit-content;
    border-radius: 2em;
}

img {
    padding: 40px;
}