.fab-button {
    position: absolute;
    left: 92%;
    transform: scale(1.1);
}

.hint-text {
    padding: 0.7em 2em 0.7em 1.4em;
    border-radius: 3em;
    text-align: center;
    font-size: var(--button-font-size);
    background: var(--ion-color-primary-shade);
}

.action-button {
    display: flex;
    position: fixed;
    top: 85vh;
    left: 50%;
    transform: translate(-56%, 0);
    align-items: center;
}


